# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Local vault data
vault/*
output/*

# Keep folder structure
!vault/.gitkeep
!output/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Flask
instance/

# Testing
.pytest_cache/
.coverage